.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  height: 100%;
  padding: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: initial;
    align-items: center;
  }
}

app-profile-card {
  flex: 1.1;
}

app-profile-timeline {
  flex: 2.5;
}
