.profile-card {
  background-color: #212830;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  font-family: cursive, 'Arial', sans-serif;

  @media (max-width: 768px) {
    height: 100%;
  }

  &__img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  &__name {
    font-size: 24px;
    margin-bottom: 5px;
    color: #fff;
  }

  &__position, &__location {
    font-size: 14px;
    color: #aaa;
    margin: 5px 0;
  }

  &__link {
    color: #3498db;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  /* About Me section styles */
  &__about {
    margin: 15px 0;

    &-heading {
      font-size: 18px;
      color: #fff;
      margin-bottom: 10px;
      text-align: left;
      margin-top: 20px;
    }

    &-text {
      font-size: 14px;
      color: #ddd;
      text-align: left;
      line-height: 1.6;
    }
  }

  &__heading {
    font-size: 18px;
    color: #fff;
    text-align: left;
    margin: 20px 0 10px;
  }

  &__tech-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__tech-item {

  }

  &__social-links {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__social-link {

  }
}
