<div class="profile-card">
  <img src="https://avatars.githubusercontent.com/u/39157290?v=4" alt="Profile Picture" class="profile-card__img" />

  <div class="profile-card__info">
    <h2 class="profile-card__name">Vladimer Mikava</h2>
    <p class="profile-card__position">Angular Developer at <a href="https://www.crocobet.com" target="_blank" class="profile-card__link">crocobet.com</a></p>
    <p class="profile-card__location">Location: Georgia</p>

    <!-- 🚀 About Me section -->
    <div class="profile-card__about">
      <h3 class="profile-card__about-heading">🚀 About Me</h3>
      <p class="profile-card__about-text">
        I'm a passionate Angular developer with over 3 years of experience in building dynamic and responsive web applications. I love working on front-end technologies, solving complex problems, and improving user experience through clean and maintainable code.
      </p>
    </div>

    <h3 class="profile-card__heading">🛠️ Tech Stack & Tools</h3>
    <ul class="profile-card__tech-list">
      <li class="profile-card__tech-item">
        <a href="https://angular.io/" target="_blank">
          <img src="https://img.shields.io/badge/-Angular-DD0031?style=flat&logo=angular&logoColor=white" alt="Angular" />
        </a>
      </li>
      <li class="profile-card__tech-item">
        <a href="https://www.typescriptlang.org/" target="_blank">
          <img src="https://img.shields.io/badge/-TypeScript-007ACC?style=flat&logo=typescript&logoColor=white" alt="TypeScript" />
        </a>
      </li>
      <li class="profile-card__tech-item">
        <a href="https://rxjs.dev/" target="_blank">
          <img src="https://img.shields.io/badge/-RxJS-B7178C?style=flat&logo=reactivex&logoColor=white" alt="RxJS" />
        </a>
      </li>
      <li class="profile-card__tech-item">
        <a href="https://www.javascript.com/" target="_blank">
          <img src="https://img.shields.io/badge/-JavaScript-F7DF1E?style=flat&logo=javascript&logoColor=black" alt="JavaScript" />
        </a>
      </li>
      <li class="profile-card__tech-item">
        <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank">
          <img src="https://img.shields.io/badge/-HTML5-E34F26?style=flat&logo=html5&logoColor=white" alt="HTML5" />
        </a>
      </li>
      <li class="profile-card__tech-item">
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">
          <img src="https://img.shields.io/badge/-CSS3-1572B6?style=flat&logo=css3&logoColor=white" alt="CSS3" />
        </a>
      </li>
      <li class="profile-card__tech-item">
        <a href="https://sass-lang.com/" target="_blank">
          <img src="https://img.shields.io/badge/-SCSS-CC6699?style=flat&logo=sass&logoColor=white" alt="SCSS" />
        </a>
      </li>
      <li class="profile-card__tech-item">
        <a href="https://git-scm.com/" target="_blank">
          <img src="https://img.shields.io/badge/-Git-F05032?style=flat&logo=git&logoColor=white" alt="Git" />
        </a>
      </li>
      <li class="profile-card__tech-item">
        <a href="https://about.gitlab.com/" target="_blank">
          <img src="https://img.shields.io/badge/-GitLab-FC6D26?style=flat&logo=gitlab&logoColor=white" alt="GitLab" />
        </a>
      </li>
      <li class="profile-card__tech-item">
        <a href="https://www.atlassian.com/software/jira" target="_blank">
          <img src="https://img.shields.io/badge/-Jira-0052CC?style=flat&logo=jira&logoColor=white" alt="Jira" />
        </a>
      </li>
      <li class="profile-card__tech-item">
        <a href="https://ngrx.io/" target="_blank">
          <img src="https://img.shields.io/badge/-NgRx-DD0031?style=flat&logo=ngrx&logoColor=white" alt="NgRx" />
        </a>
      </li>
    </ul>


    <h3 class="profile-card__heading">🔗 Connect with Me</h3>
    <div class="profile-card__social-links">
      <a href="https://www.linkedin.com/in/mikava" target="_blank" class="profile-card__social-link"><img src="https://img.shields.io/badge/LinkedIn-Profile-blue?style=flat&logo=linkedin" alt="LinkedIn" /></a>
      <a href="https://www.facebook.com/Vladimer.Mikava" target="_blank" class="profile-card__social-link"><img src="https://img.shields.io/badge/Facebook-Profile-1877F2?style=flat&logo=facebook&logoColor=white" alt="Facebook" /></a>
      <a href="https://t.me/m1kav4" target="_blank" class="profile-card__social-link"><img src="https://img.shields.io/badge/Telegram-Profile-2CA5E0?style=flat&logo=telegram&logoColor=white" alt="Telegram" /></a>
    </div>
  </div>
</div>
