*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer, header, nav, section, main {
  display: block;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #151b23;
}
